.demoEffect {
  height: 400px;
  &-bg-first {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 1%,
      rgba(97, 142, 207, 0.6) 10%,
      rgba(97, 142, 207, 0.8)
    );
  }
  &-bg-second {
    background: linear-gradient(
      to bottom,
      rgba(97, 142, 207, 0.8) 10%,
      #1cd3b8
    );
  }
  &-img {
    width: 100%;
    height: 100%;
  }
}
